<ion-header [translucent]="true">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header> 


<ion-content [fullscreen]="true" class="p-3">
  <!-- Saludo -->

  <div
    class="welcome-text mb-4  p-5 rounded-3"
    style="background: linear-gradient(90deg, #0038b8, #4c8cff)"
  >
    <p class="text-light">notificaciones</p>
  </div>


    <button class="btn btn-primary w-50 py-3 mb-4 register-button mx-auto d-block">
            
          
            realizar un comentario 
          </button>

    

    <!-- Acceso rápido -->
    <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">comentarios recccientes</div>

         <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto
           aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del
            año 45 antes de Cristo

          </p>
            
            </div>
          </div>
        </div>
            <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">comentarios recccientes</div>

         <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto
           aleatorio. Tiene sus raices en una pieza clsica de la literatura del Latin, que data del
            año 45 antes de Cristo

          </p>
            
            </div>
          </div>
        </div>
 
    
  
</ion-content>

 <footer class="footer bg-white text-white py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
 <a href="#">
        <img src="assets\icon\casa.png" alt="icono 1" style="width: 50px;">
      </a>

      <a href="#">
        <img src="assets\icon\foro.png" alt="icono 2" style="width: 50px;">
      </a>

      <a href="#">
        <img src="assets\icon\llamada.png" alt="icono 3" style="width: 50px;">
      </a>

      <a href="#">
        <img src="assets\icon\notificaciones.png" alt="icono 4" style="width: 50px;">
      </a>

      <a href="#">
        <img src="assets\icon\perfil.png" alt="icono 5" style="width: 50px;">
      </a>

    </div>
  </div>
</footer>  


