<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estado emocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="titulo">¿Cómo te sientes hoy?</h2>

  <div class="emociones-container">
    <ion-button color="success" expand="block" (click)="seleccionarEmocion('feliz')">😊 Feliz</ion-button>
    <ion-button color="tertiary" expand="block" (click)="seleccionarEmocion('tranquilo')">😌 Tranquilo</ion-button>
    <ion-button color="warning" expand="block" (click)="seleccionarEmocion('ansioso')">😟 Ansioso</ion-button>
    <ion-button color="danger" expand="block" (click)="seleccionarEmocion('triste')">😢 Triste</ion-button>
  </div>

  <h3 class="titulo-energia">Nivel de energía</h3>
  <div class="barra-container">
    <div class="barra" [style.width.%]="energia"></div>
  </div>
  <p class="valor-energia">{{ energia }}%</p>

</ion-content>
