<div class="header-container">
  <div class="header-content">
    <h2 class="titulo-header">Registro diario</h2>
  </div>
</div>


<ion-content class="ion-padding">

  <!-- ---------- SECCIÓN EMOCIONES ---------- -->
  <div class="card">

    <h2 class="titulo-seccion">¿Cómo te sientes?</h2>

    <div class="emociones-grid">

      <!-- Botón FELIZ -->
      <div class="emocion-item" (click)="seleccionarEmocion('feliz')">
        <span class="emoji">😊</span>
        <p>Feliz</p>
      </div>

      <!-- Botón TRANQUILO -->
      <div class="emocion-item" (click)="seleccionarEmocion('tranquilo')">
        <span class="emoji">😌</span>
        <p>Tranquilo</p>
      </div>

      <!-- Botón ANSIOSO -->
      <div class="emocion-item" (click)="seleccionarEmocion('ansioso')">
        <span class="emoji">😵‍💫</span>
        <p>Ansioso</p>
      </div>

      <!-- Botón TRISTE -->
      <div class="emocion-item" (click)="seleccionarEmocion('triste')">
        <span class="emoji">😔</span>
        <p>Triste</p>
      </div>

    </div>
  </div>

  <!-- ---------- SECCIÓN BARRA DE ENERGÍA ---------- -->
  <div class="card">

    <h2 class="titulo-seccion">Nivel de energía</h2>

    <!-- Barra -->
    <div class="barra-container">
      <div
        class="barra"
        [style.width.%]="energia"
        [style.background]="getColorEnergia()"
      ></div>
    </div>

    <!-- Emojis debajo -->
    <div class="emojis-final">
      <div class="emoji-col">
        <span>🥱</span>
        <p>Bajo</p>
      </div>

      <div class="emoji-col">
        <span>😐</span>
        <p>Medio</p>
      </div>

      <div class="emoji-col">
        <span>🤩</span>
        <p>Alto</p>
      </div>
    </div>

  </div>
<button (click)="guardarEstado()">Guardar Estado (Prueba)</button>

</ion-content>
