<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="dashboard">
      <img src="assets/icon/casa.png" class="tab-icon" />
    </ion-tab-button>

    <ion-tab-button tab="foro">
      <img src="assets/icon/foro-2.png" class="tab-icon" />
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <img src="assets/icon/llamada.png" class="tab-icon" />
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <img src="assets/icon/notificaciones.png" class="tab-icon" />
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <img src="assets/icon/perfil.png" class="tab-icon" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
