<ion-content>  
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  
  <ion-content class="p-3">    <div
    class="welcome-text mb-4  p-5 rounded-3"
    style="background: linear-gradient(90deg, #0038b8, #4c8cff)"
    >
      <p class="text-light">foro</p>
    </div>


     <button class="btn btn-primary w-50 py-3 mb-4 register-button mx-auto d-block">
     

      realizar un comentario 
     </button>



     <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">comentarios recccientes</div>

         <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto
           aleatorio. Tiene sus raices en una pieza clsica de la literatura del Latin, que data del
            año 45 antes de Cristo

          </p>
            
            </div>
          </div>
        </div>
            <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">comentarios recccientes</div>

         <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto
           aleatorio. Tiene sus raices en una pieza clsica de la literatura del Latin, que data del
            año 45 antes de Cristo

          </p>
            
            </div>
          </div>
        </div>
 
    

</ion-content>