<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Historial emocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="!cargando">
    <ion-item *ngFor="let item of historial">
      <ion-label>
        <h2>{{ item.fecha | date:'fullDate' }}</h2>
        <p>Emociones: {{ item.emociones.join(', ') }}</p>
        <p>Energía final: {{ item.energiaFinal }}%</p>
      </ion-label>
    </ion-item>
  </ion-list>
  

  <ion-spinner *ngIf="cargando"></ion-spinner>

</ion-content>
